.letter {
    height: 50px;
    width: 50px;
    font-size: 2em;
    text-align: center;
    border: 1px solid black;
}

#guess-form {
    margin-top: 20px;
}

#results {
    margin-top: 20px;
}

#new-high {
    color: green;
    font-weight: bold;
    margin-left: 5px;
}

#new-game {
    margin-top: 5px;
}